<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Blank Pages</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Biryani:400,900,200,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="screen" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" />

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.ionicframework.com/1.1.0/js/ionic.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="static/base.js"></script>
  
  </head>
  <body>

    <nav class="navbar">
        <div class="navbar-header">
          <a id="popover" class="btn" rel="popover" data-placement="bottom" data-content="<ul><a href='https://github.com/jeehyekim'><li>GITHUB</li></a><a href='https://www.linkedin.com/in/kimjeehye'><li>LINKEDIN</li></a><a href='http://www.jeehyekim.com'><li>WEBSITE</li></a><a href='mailto:iam@jeehyekim.com'><li>EMAIL</li></a></ul>">
            <img src="static/JK logo.png"></img></a>
        </div>
    </nav>

    <div class="container" id="page-wrapper">
          <header class="span12">
            <h1>BLANK PAGES</h1>
          </header>
          <form class="textarea col-sm-6 col-sm-offset-3">
            <input type="text" name="body" id="micro-content" cols="30" rows="3" class="form-control transparent-input"></textarea>
          </form>

            <ul class="entries list-group col-sm-8 col-sm-offset-2">
              <% for(i=0; i<posts.length; i++) {%>
              <li class="list-group-item ">
                <%= posts[i].content  %> <span data-id=" <%= posts._id %>" class="close delete">x</span>
              </li>
              <% } %>
            </ul>
    </div>
    <div class="container bottom"></div>
  </body>
</html>



